input{
    padding: 8px;
    margin: 5px 0px;
}

.formInput{
    
    display: flex;
    flex-direction: column;

}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[perderfoco="true"]{
    border: 2px solid red;
}

input:invalid[perderfoco="true"] ~ span{
    display: block;
}
